/*Spoiler CSS*/

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Cormorant+Garamond&family=Josefin+Slab&family=Julius+Sans+One&family=Kanit&family=Yanone+Kaffeesatz&display=swap');

/*    font-family: 'Abril Fatface', cursive;

    font-family: 'Anton', sans-serif;

    font-family: 'Bebas Neue', cursive;

    font-family: 'Cormorant Garamond', serif;

    font-family: 'Josefin Slab', serif;

    font-family: 'Julius Sans One', sans-serif;

    font-family: 'Kanit', sans-serif;

    font-family: 'Yanone Kaffeesatz', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*    font-family: 'Montserrat', sans-serif;

    font-family: 'Raleway', sans-serif;*/




/*Variables ------------------------------------------------------------------------------*/
$dark: #1b1b1b;
$light: #e7e7e7;
$accent: #ff6a6a;


/*Normalize ------------------------------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General --------------------------------------------------------------------------------*/
html {
    height: 100%;
}


body {
    position: relative;
    background-color: $dark;
    color: $light;
    font-family: 'Montserrat', 'Raleway', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5em 2em;
    //border-bottom: 1px solid #3c3c3c;
    //box-shadow: 1px 5px 10px #454545;
    box-shadow: 1px 5px 10px #ffffff26;
    background-color: $dark;
    z-index: 10;
}

.flex {
    display: flex;
    width: 100%;
    align-items: center;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: $accent;
    font-family: 'Abril Fatface', 'Anton', 'Bebas Neue', 'Julius Sans One', 'Kanit', 'Yanone Kaffeesatz', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
}

.miniIcon {
    display: block;
    width: 20px;
    height: auto;
    margin: 0 1em 0 0;
}

.container {
    position: relative;
    margin: 3em 0 0 20%;
    width: 80%;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $dark;
}

main {
    padding: 2em 4em;
}

.content {
    margin: 1em 0 5em 0;
}

footer {
    position: relative;
    margin-top: auto;
    text-align: center;
    z-index: 50;
}

.carousel-root {
    margin: 0 0 0 0.3em;
}

/*Links -----------------------------------------------------------------------------------*/
a {
    color: $light;
    text-decoration: none;
}

a:hover {
    color: $accent;
}

.sideMenuLink {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2em 0;
    font-size: 1.05em;
}

/*Lists ------------------------------------------------------------------------------------*/
ul {
    list-style: none;
}

li {
    padding: 1em 0;
}

.control-dots li {
    padding: 0;
}

.carousel .control-dots {
    margin: 1em 0 !important;
}

.sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    //border-right: 1px solid #222222;
    //box-shadow: 1px 5px 10px #2a2a2a;
    box-shadow: 1px 5px 10px #ffffff26;
    min-height: 100vh;
    padding: 1em 0;
    margin: 5em 0 0 0;
    z-index: 10;
    overflow: hidden;
}

.sideMenu li {
    width: 100%;
    padding: 0 2em;
    //border-bottom: 1px solid #a7a7a7;
    box-shadow: 1px 5px 10px #ffffff26;
    transition: transform .2s;
}

.sideMenu li:hover {
    transform: scale(1.03);
    background-color: $dark;
}

/*Carousel ----------------------------------------------------------------------------*/
.carousel .carousel-status {
    display: none;
}

.carousel .thumbs-wrapper {
    display: none;
}

/*Typography --------------------------------------------------------------------------*/
h1 {
    color: $accent;
    border-bottom: 1px solid $light;
    padding: 0 0 0.2em 0;
    margin: 0 0 2em 0;
}

h2 {
    color: $accent;
    border-bottom: 1px dotted $light;
    padding: 0 0 0.2em 0;
    margin: 0 0 1em 0;
}